apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namePrefix: prod-

commonLabels:
  environment: production

patches:
  - path: statefulset-patch.yaml
  - path: configmap-patch.yaml

images:
  - name: laura-db
    newTag: latest

replicas:
  - name: laura-db
    count: 3
