apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: laura-db
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: laura-db
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - laura-db
              topologyKey: kubernetes.io/hostname
