apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

patches:
  - path: statefulset-patch.yaml
  - path: configmap-patch.yaml

images:
  - name: laura-db
    newTag: dev
