apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: laura-db
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: laura-db
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
